<div class="modal-header bg-{{class}}" style="padding: 15px">
  <h3 class="modal-title text-center text-white"><i class="{{iconClass}}"></i> {{messageType}}</h3>
</div>
<div class="modal-body text-center" style="padding: 25px">
  <p style="margin: 0;font-size: 17px">{{message}}</p>
</div>

<div class="modal-footer text-right bg-{{class}}" style="padding: 7px">
  <button class="btn btn-sm btn-rounded" (click)="close()" style="padding: 7px 20px">Close</button>
</div>
<!--<div class="row pb-3 pl-4 pr-4">
  <div class="col-6">
    <button type="button" class="btn btn-outline-danger" (click)="close()">No
    </button>
  </div>

  <div class="col-6">
    <button type="button" class="btn btn-outline-success text-right" style="float: right">Yes
    </button>
  </div>
</div>-->
