<div class="card-group shadow" style="padding: 15px 0">
  <div class="card bg-success shadow-lg c_border_radius c_box_items">
    <div class="card-body">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="font-weight-bold text-white">Total Sales</h3>
          <h5 class="text-dark">5000</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="card bg-info shadow c_border_radius c_box_items">
    <div class="card-body">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="font-weight-bold text-white">Total By Family</h3>
          <h5 class="text-dark">900</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="card bg-danger shadow c_border_radius c_box_items">
    <div class="card-body">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="font-weight-bold text-white">Today's sale</h3>
          <h5 class="text-dark">7000</h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Column -->
  <!-- Column -->
  <div class="card bg-warning shadow c_border_radius c_box_items">
    <div class="card-body">
      <div class="row">
        <div class="col-12 text-center">
          <h3 class="font-weight-bold text-white">Last Month </h3>
          <h5 class="text-dark">10000</h5>
        </div>
      </div>
    </div>
  </div>
</div>
