<!-- ============================================================== -->
<!-- Welcome back  -->
<!-- ============================================================== -->
<app-welcome></app-welcome>
<!-- ============================================================== -->
<!-- Sales Summery -->
<!-- ============================================================== -->
<app-product-info></app-product-info>
<!-- ============================================================== -->
<!-- place order / Exchange -->
<!-- ============================================================== -->
<!--<app-mix-stats></app-mix-stats>-->
<!-- ============================================================== -->
<!-- project of the month -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- Task, Feeds -->
<!-- ============================================================== -->
<!--<div class="row">
    &lt;!&ndash; column &ndash;&gt;
    <div class="col-sm-12 col-lg-6">
        <app-tasklist></app-tasklist>
    </div>
    &lt;!&ndash; column &ndash;&gt;
    <div class="col-sm-12 col-lg-6">
        <app-feeds></app-feeds>
    </div>
</div>-->
