<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <!-- User Profile-->
    <li>
      <!-- User Profile-->
      <div class="user-profile m-t-20" ngbDropdown>
        <div class="user-pic">
          <img src="assets/images/no_image_profile.png" alt="users" class="rounded-circle img-fluid"/>
        </div>
        <div class="user-content hide-menu m-t-10">
          <h5 class="m-b-10 user-name font-medium">{{name}}</h5>
        </div>
      </div>
      <!-- End User Profile-->
    </li>
    <!-- First level menu -->
    <li class="sidebar-item" [class.selected]="showMenu === sidebarnavItem.title"
        *ngFor="let sidebarnavItem of sidebarnavItems"
        [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
      <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true"
           style="opacity: 1 !important; font-size: 15px !important;">
        <i [ngClass]="[sidebarnavItem.icon]"></i>
        <span class="hide-menu">{{sidebarnavItem.title | translate}}</span>
      </div>
      <a class="sidebar-link waves-effect waves-dark" style="margin-left: 15px !important;"
         [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
         [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
         (click)="addExpandClass(sidebarnavItem.title)"
         [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
        <i [ngClass]="[sidebarnavItem.icon]"></i>
        <span class="hide-menu">{{sidebarnavItem.title | translate}}</span>
      </a>
      <!-- Second level menu -->
      <ul aria-expanded="false" class="collapse first-level" *ngIf="sidebarnavItem.submenu.length > 0"
          [ngClass]="{'in' : showMenu === sidebarnavItem.title }">
        <li class="sidebar-item" *ngFor="let sidebarnavSubItem of sidebarnavItem.submenu"
            [class.active]="showSubMenu === sidebarnavSubItem.title"
            [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'active'">
          <a class="sidebar-link" [routerLink]="sidebarnavSubItem.submenu.length > 0 ? null : [sidebarnavSubItem.path]"
             [routerLinkActive]="sidebarnavSubItem.submenu.length > 0 ? '' : 'router-link-active'"
             [ngClass]="[sidebarnavSubItem.class]" *ngIf="!sidebarnavSubItem.extralink;"
             (click)="addActiveClass(sidebarnavSubItem.title)">
            <i [ngClass]="[sidebarnavSubItem.icon]"></i>
            <span class="hide-menu">{{sidebarnavSubItem.title | translate}}</span>
          </a>
          <!-- Third level menu -->
          <ul aria-expanded="false" class="collapse second-level" *ngIf="sidebarnavSubItem.submenu.length > 0"
              [ngClass]="{'in' : showSubMenu === sidebarnavSubItem.title }">
            <li class="sidebar-item" *ngFor="let sidebarnavSubsubItem of sidebarnavSubItem.submenu"
                routerLinkActive="active" [ngClass]="[sidebarnavSubsubItem.class]">
              <a class="sidebar-link" [routerLink]="[sidebarnavSubsubItem.path]"
                 *ngIf="!sidebarnavSubsubItem.extralink;"
                 [routerLinkActive]="sidebarnavSubsubItem.submenu.length > 0 ? '' : 'router-link-active'">
                <i [ngClass]="[sidebarnavSubsubItem.icon]"></i>
                <span class="hide-menu">{{sidebarnavSubsubItem.title | translate}}</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</nav>
