<div class="card shadow">
  <div class="card-body p-b-0">
    <h3 class="card-title text-muted font-weight-bold text-uppercase">
      {{'most_sent' | translate}}
    </h3>
    <div class="table-responsive">
      <table class="table v-middle table-striped table-bordered table-hover">
        <thead style="border-top: 1px solid lightgray" class="text-center">
        <tr>
          <th class="border-top-0">Nom</th>
          <th class="border-top-0">Email</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Demo</td>
          <td>demo@gmail.com</td>
        </tr>
        <tr>
          <td>Demo</td>
          <td>demo@gmail.com</td>
        </tr>
        <tr>
          <td>Demo</td>
          <td>demo@gmail.com</td>
        </tr>
        <tr>
          <td>Demo</td>
          <td>demo@gmail.com</td>
        </tr>
        <tr>
          <td>Demo</td>
          <td>demo@gmail.com</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
